.bookSearchCover{
    position: relative;
    max-width:200px;
    max-height:300px;
    min-width:200px;
    min-height:300px;
    z-index: 2;

}
.bookSearchCard{
    width:fit-content;
}
.searchCardDropShadow{
    position:absolute;
    background-color:#1e1e1e ;
    width:200px;
    height:297px;
    z-index: 1;
    transform: translate(3.5%,3.5%);
}
