.bookListContentGrid{
    margin-top:100px;
    justify-items: center;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    background-color: #F1F0EA;
}
